html,body,form{
    height: 100%;
    overflow: hidden;
}

#container{
    width:90%;
    height:100%;
    min-height: 100%;         /* 中身が少なくても高さ100%にする */
    margin: 0 auto;
}

#menu{
    position: fixed !important;
    //position: relative ;
    top: 0; /* 位置(上0px) */
    left: 0; /* 位置(右0px) */
    width: 100%; /* 横幅100%　*/
    height: 50px; /* 縦幅140px */
    background-color: white;
    margin: 0 auto;
}
#menu ul>li{
    float:left;
    width:20%;
    font-size:14px;
    text-align:center;
    //padding:4px;
    //background:#ccc;
    margin-right:10px;
    border-radius:4px;/*角を丸くする*/
    //text-shadow:0 1px 0 #fff;
    list-style:none;/*ポチを消す*/
    margin: 0 auto;
}

#menu ul>li:hover{
    //background:#ddd;
}
#menu ul>li>a{
    text-decoration:none;
    display:block;/*これで文字だけがリンクではなく、四角全体がリンクになる*/
    width:100%;
}


#category{
    overflow: scroll;
    margin-top: 50px;
    float:left;
    width:30%;
    height:100%;
    border: 1px solid #a8a8a8;
    background: none repeat scroll 0 0 #ffffff;
    min-height: 100%;         /* 中身が少なくても高さ100%にする */
}

#main{
    overflow: scroll;
    margin-top: 50px;
    float:left;
    width:69%;
    height:100%;
    min-height: 100%;  
}

#main div{
    height:100%;
    min-height: 100%;
}

dt:hover{
    background:#ccc;
}

.myclass_unread{
    /*最優先で適用させるため*/
    font-weight: bold !important;
}
.myclass_checkupdate .myclass_feeddelete{
    text-align: right !important;
}
.myclass_feeddelete{
    text-align: right !important;
}
