.myclass_unread{
    /*最優先で適用させるため*/
    font-weight: bold !important;
}
.myclass_checkupdate .myclass_feeddelete{
    text-align: right !important;
}
.myclass_feeddelete{
    text-align: right !important;
}

#menu{
    position: fixed !important; 
    position: relative ;
    top: 0; /* 位置(上0px) */
    left: 0; /* 位置(右0px) */
    width: 100%; /* 横幅100%　*/
    //height: 140px; /* 縦幅140px */
    background-color: white;
}
#menu ul>li{
    float:left;
    width:200px;
    font-size:14px;
    text-align:center;
    //padding:4px;
    background:#ccc;
    margin-right:10px;
    border-radius:4px;/*角を丸くする*/
    text-shadow:0 1px 0 #fff;
    list-style:none/*ポチを消す*/
}

#menu ul>li:hover{
    background:#ddd;
}
#menu ul>li>a{
    text-decoration:none;
    display:block;/*これで文字だけがリンクではなく、四角全体がリンクになる*/
}


#main{
    padding-top:40px;
    width:100%;/*floatを指定すると必ずwidthはしていないといけないらしい*/
}